p {
  color:pink;
  background-color:#FFA6A6;
  font-family:sans-serif;
}
header {
  background-color:#FF0000;
  font-family:sans-serif;
}
footer {
  font-family:sans-serif;
  background-color:#FF0000;
}
img {
  background-color:#FFA6A6;
}
